@inherits LayoutComponentBase
<header class="navbar navbar-expand-md navbar-dark navbar-overlap d-print-none">
    <div class="container-xl"> 
        <h1 class="pe-0 pe-md-3">
            <a href="/">
                <img src="/statics/logo.svg" alt="Tabler" class="navbar-brand-image">
            </a>
            <span class="secondtitle">
                
            </span>
        </h1>               
    </div>
</header>
<div class="page-wrapper">
    @Body
    <footer class="footer footer-transparent d-print-none">
        <div class="container-xl">
            <div class="row text-center align-items-center flex-row-reverse">               
                <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                    <ul class="list-inline list-inline-dots mb-0">
                        <li class="list-inline-item">
                            Copyright &copy; 2022
                            <a href="au-x.org" class="link-secondary">au-x.org</a>.
                            All rights reserved.
                        </li>                       
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>